# Just here for the sake of explicitness
# You could delete this statet of Pipfile and recreate it with pipenv shell
# The package dependency `pkg-name = {editable = true,path = "."}` is created 
# during build by calling `pipenv install -e .` in order to install the 
# dependencies declared in the setup.py file.

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# Maintain dev dependencies here
pylint = "*"

[packages]
# Maintain production dependencies only in the setup.py
# The next line references the dependencies from setup.py
PKG_NAME = {editable = true,path = "."}

[requires]
python_version = "3.8"
